<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="DebugAppender" type="log4net.Appender.DebugAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender" >
		<file value="C:\My Folder\My Projects\StudentWebAPIProject\StudentWebAPIProject\Log\log.txt" />
		rolling Styles:
		- Once -> rolls file per execution, overwritten on every execution
		- Size -> rolls file based on size of file
		- Date -> rolls file based on date
		- Composite -> rolls file based on size and date of file
		<rollingstyle value="Size" />
		<maximunFileSize value="1KB" /> default size is 10KB
		<maxSizeRollBackups value="2" /> maximum no files to create is size exceeds
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="ALL"/>
		<appender-ref ref="DebugAppender" />
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RollingFile" />
	</root>
</log4net>